@model AvondaleIslamicCentre.Models.Donation

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Donation</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" method="post">
            @Html.AntiForgeryToken()
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Amount" class="control-label"></label>
                <input asp-for="Amount" class="form-control" />
                <span asp-validation-for="Amount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DonationType" class="control-label"></label>
                <select asp-for="DonationType" class="form-control" asp-items="Html.GetEnumSelectList<DonationType>()"></select>
                <span asp-validation-for="DonationType" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="PaymentMethod" class="control-label"></label>
                <select asp-for="PaymentMethod" class="form-control" asp-items="Html.GetEnumSelectList<PaymentMethod>()"></select>
                <span asp-validation-for="PaymentMethod" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label>Date Donated</label>
                <input type="text" class="form-control" value="@DateTime.Now.ToString("g")" disabled />
            </div>

            <div class="form-group">
                <label>Donated By</label>
                <input type="text" class="form-control" value="@ViewBag.CurrentUserFirstName" disabled />
                <input type="hidden" name="AICUserId" value="@ViewBag.CurrentUserId" />
            </div>

            <div class="form-group mt-3">
                <input type="submit" value="Create" class="btn btn-create" />
                <a asp-action="Index" class="btn btn-secondary ms-2">Back to List</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
