@model AvondaleIslamicCentre.Models.Booking

@{
    ViewData["Title"] = "Create Booking";
}

<div class="container mt-4 animate-up">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card shadow-sm border-0">
                <div class="card-header text-white text-center">
                    <h4 class="mb-0 text-white">Create Booking</h4>
                </div>

                <div class="card-body">
                    <form asp-action="Create" method="post">
                        @Html.AntiForgeryToken()

                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                        <!-- Start DateTime -->
                        <div class="form-group">
                            <label asp-for="StartDateTime" class="control-label"></label>
                            <input asp-for="StartDateTime" type="datetime-local" class="form-control" />
                            <span asp-validation-for="StartDateTime" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="EndDateTime" class="control-label"></label>
                            <input asp-for="EndDateTime" type="time" class="form-control" />
                            <span asp-validation-for="EndDateTime" class="text-danger"></span>
                        </div>

                        <!-- Hall -->
                        <div class="mb-3">
                            <label asp-for="HallId" class="form-label"></label>
                            <select asp-for="HallId" class="form-select" asp-items="ViewBag.HallId"></select>
                            <span asp-validation-for="HallId" class="text-danger"></span>
                        </div>

                        <!-- User Info -->
                        <div class="mb-3">
                            <label class="form-label">Booked By</label>
                            <input type="text" class="form-control" value="@ViewBag.CurrentUserFirstName" disabled />
                            <input type="hidden" name="AICUserId" value="@ViewBag.CurrentUserId" />
                        </div>

                        <!-- Buttons -->
                        <div class="text-center mt-3">
                            <button type="submit" class="btn btn-primary px-4 rounded-pill">Create</button>
                            <a asp-action="Index" class="btn btn-outline-secondary px-4 rounded-pill ms-2">Back</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
